@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Try to get to the @Html.ActionLink("About", "About", "Home") page - you won't be able to until your browser has solved the hash!
</p>
